# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# build directory
build/

# cmake files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# python venv
.venv/

# vscode and ide files
.vscode/*
.cursor/*
.idea/*

# platformio files
.pio/*
.env/*
.env.local/*
.env.development.local/*
.env.test.local/*
.env.production.local/*